@model RegistryForFinalProject.Models.ContactUsViewModel
@{
    ViewData["Title"] = "Contact";
}


<h1 class="ml11">
    <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Contact us</span>
    </span>
</h1>
<hr />
<form asp-controller="Contact">
    @if (this.TempData["SuccessfullySentEmail"] != null)
    {
        <div class="alert alert-success">@this.TempData["SuccessfullySentEmail"]</div>
    }
    <section class="my-5">
        <p class="text-center w-responsive mx-auto pb-5">To provide feedback or suggestions don't hesitate to contact us! Have comments about our site or service? Maybe you'd just like to say hello? Whichever the case may be, we're always glad to hear from you, and will do our best to get back to you as soon as we can.</p>
        <div class="row">
            <div class="col-lg-5 mb-lg-0 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="form-header blue accent-1">
                            <h3 class="mt-2"><i class="fas fa-envelope warning"></i> Give us your complaint...</h3>
                            <br />
                        </div>
                        <div class="md-form">
                            <i class="fas fa-user prefix grey-text"></i>
                            <label asp-for="Name" for="form-name">Your name:</label>
                            <span class="text-danger" asp-validation-for="Name"></span>
                            <input asp-for="Name" type="text" id="form-name" class="form-control">
                        </div>
                        <div class="md-form">
                            <i class="fas fa-envelope prefix grey-text"></i>
                            <label asp-for="Email" for="form-email"><span class="text-danger">*</span> Your email:</label>
                            <span class="text-danger" asp-validation-for="Email"></span>
                            <input asp-for="Email" type="text" id="form-email" class="form-control">
                        </div>
                        <div class="md-form">
                            <i class="fas fa-tag prefix grey-text"></i>
                            <label for="form-Subject">Subject</label>
                            <span class="text-danger" asp-validation-for="Subject"></span>
                            <input asp-for="Subject" type="text" id="form-Subject" class="form-control">
                        </div>
                        <div class="md-form">
                            <i class="fas fa-pencil-alt prefix grey-text"></i>
                            <label asp-for="Message" for="form-text"><span class="text-danger">*</span> Send message...</label>
                            <span class="text-danger" asp-validation-for="Message"></span>
                            <textarea asp-for="Message" id="form-text" class="form-control md-textarea" rows="3"></textarea>
                        </div>
                        <div class="text-center">
                            <br />

                            <button type="submit" class="btn btn-warning btn-lg">Submit</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-7">
                <div id="map-container-section" class="map-responsive" style="height: 450px">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3022.6175407966816!2d-73.98785308463387!3d40.74844047932802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e0!3m2!1sen!2sbg!4v1585603464217!5m2!1sen!2sbg"
                            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="true" aria-hidden="false" tabindex="0"></iframe>

                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1">
                            <i class="fas fa-map-marker-alt"></i>
                        </a>
                        <p>New York, 10001</p>
                        <p class="mb-md-0">United States</p>
                    </div>
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1">
                            <i class="fas fa-phone"></i>
                        </a>
                        <p>+ 01 212 736 3100</p>
                        <p class="mb-md-0">Mon - Sun, 8:00-22:00</p>
                    </div>
                    <div class="col-md-4">
                        <a class="btn-floating blue accent-1">
                            <i class="fas fa-envelope"></i>
                        </a>
                        <p>getme@gmail.com</p>
                        <p class="mb-0">sale@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>


@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Categories">Buy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Sell" asp-action="Sell">Sell</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile" data-toggle="tooltip" data-placement="top" title="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="ShoppingCart" data-toggle="tooltip" data-placement="top" title="Shopping Cart"><i class="fas fa-shopping-cart fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut" data-toggle="tooltip" data-placement="top" title="Sign out"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </li>


    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="~/js/pageTitle.js"></script>
