@model RegistryForFinalProject.Models.ViewModels.ForgottenPasswordViewModel
@{
    ViewData["Title"] = "ForgottenPassword";
}

<h1>Password recovery</h1>
<form asp-controller="Account">
    <label action="/Account/ForgottenPassword" asp-for="Email">Email: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
    <input asp-for="Email" class="form-control inputSizeTwenty" />
    <br />
    <button type="submit" class="btn-primary" id="SubmitButton">Submit</button>

</form>
<script src="~/js/site.js"></script>
