@model RegistryForFinalProject.Models.ViewModels.ForgottenPasswordViewModel
@{
    ViewData["Title"] = "ForgottenPassword";
}

<h1>Password recovery</h1>
<form asp-controller="Account">
    <br />
    <label action="/Account/ForgottenPassword" asp-for="Email"><span class="text-danger">*</span> Email: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
    <input asp-for="Email" class="form-control inputSizeTwenty" />
    <br />
    @*<button type="submit" class="btn btn-warning btn-lg" id="SubmitButton">Submit</button>*@

    <a class="btn btn-warning btn-lg" data-toggle="modal" data-target=".bootstrapmodal">Submit</a>
    <div class="modal fade bootstrapmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Email for the password reset has been sent.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


</form>
<script src="~/js/site.js"></script>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}