@model RegistryForFinalProject.Models.ViewModels.ForgottenPasswordViewModel
@{
    ViewData["Title"] = "ForgottenPassword";
}

<h1 class="ml3">Password recovery</h1>
<form asp-controller="Account">
    @if (this.TempData["SentEmail"] != null)
    {
        <div class="alert alert-success">@this.TempData["SentEmail"]</div>
    }
    <br />
    <label action="/Account/ForgottenPassword" asp-for="Email"><span class="text-danger">*</span> Email: </label>
    <span class="text-danger" asp-validation-for="Email"></span>
    <input asp-for="Email" class="form-control input-lg col-4" />
    <br />
    <button type="submit" class="btn btn-warning btn-lg" id="SubmitButton">Submit</button>
</form>


@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="~/js/pageTitle.js"></script>