@model RegistryForFinalProject.Models.ViewModels.ForgottenPasswordViewModel
@{
    ViewData["Title"] = "ForgottenPassword";
}

<h1>Password recovery</h1>
<form asp-controller="Account">
    <br />
    <label action="/Account/ForgottenPassword" asp-for="Email"><span class="text-danger">*</span> Email: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.Email)</span>
    <input asp-for="Email" class="form-control inputSizeTwenty" />
    <br />
    <button type="submit" class="btn btn-warning btn-lg" id="SubmitButton">Submit</button>


</form>
<script src="~/js/site.js"></script>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}