@model RegistryForFinalProject.Models.ViewModels.LogInViewModel
@{
    ViewData["Title"] = "LogIn";
}

<h1>Sign in</h1>
<form asp-controller="Account">
    @if (ViewData["InvalidUser"] != null)
    {
        <p class="text-danger">@ViewData["InvalidUser"]</p>
    }
    <br />
    <label action="/Account/LogIn" asp-for="UserName"><span class="text-danger">*</span> Username: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.UserName)</span>
    <input asp-for="UserName" class="form-control inputSizeTwenty" />
    <br />
    <label action="/Account/LogIn" asp-for="Password"><span class="text-danger">*</span> Password: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.Password)</span>
    <input asp-for="Password" class="form-control inputSizeTwenty" type="password" />
    <br />
    <br />
    <button type="submit" class="btn btn-warning btn-lg" id="LogInButton">Log In</button>

    <a id="myFormSubmit" href="ForgottenPassword">Forgot your password?</a>
</form>
<script src="~/js/site.js"></script>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"> My Profile</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}