@model RegistryForFinalProject.Models.ViewModels.AccountViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="ml3">Register</h1>
<form asp-controller="Account">
    @if (this.TempData["SuccessfullyRegistered"] != null)
    {
        <div class="alert alert-success">@this.TempData["SuccessfullyRegistered"]</div>
    }
    @if (ViewData["UsernameError"] != null)
    {
        <p class="text-danger">@ViewData["UsernameError"]</p>
    }
    @if (ViewData["EmailError"] != null)
    {
        <p class="text-danger">@ViewData["EmailError"]</p>
    }

    @if (ViewData["LoginError"] != null)
    {
        <p class="text-danger">@ViewData["LoginError"]</p>
    }
    <br />
    <label action="/Account/Register" asp-for="UserName"><span class="text-danger">*</span> Username: </label>
    <span class="text-danger" asp-validation-for="UserName"></span>
    <input asp-for="UserName" class="form-control input-lg col-4" />
    <br />
    <label action="/Account/Register" asp-for="Email"><span class="text-danger">*</span> Email: </label>
    <span class="text-danger" asp-validation-for="Email"></span>
    <input asp-for="Email" class="form-control input-lg col-4" />
    <br />
    <label action="/Account/Register" asp-for="Password"><span class="text-danger">*</span> Password: </label>
    <span class="text-danger" asp-validation-for="Password"></span>
    <input asp-for="Password" class="form-control input-lg col-4" type="password" />
    <br />
    <label asp-for="ConfirmPassword" action="/Account/Register"><span class="text-danger">*</span> Confirm Password: </label>
    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    <input asp-for="ConfirmPassword" class="form-control input-lg col-4" type="password" />
    <br />
    <br />
    <input type="checkbox" id="AgeCheckBox" name="AgeCheckBox" />
    <label action="/Account/Register"><span class="text-danger">*</span> I am above 18 years old</label>
    <br />
    <input type="checkbox" id="TermsCheckBox" name="TermsCheckBox" />
    <label action="/Account/Register"><span class="text-danger">*</span> I agree with the terms of use and conditions</label>
    <br />
    <br />
    <button type="submit" class="btn btn-warning btn-lg" id="RegisterButton">Register</button>

</form>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="~/js/pageTitle.js"></script>