@{
    ViewData["Title"] = "SuccessfullyRegistered";
}

    <form asp-controller="Account">
        <h1>You have registered successfully</h1>
        <br />
        <h2>Please <a href="/Account/LogIn" class="elements"><span>login</span></a> to proceed</h2>
    </form>