@*@model RegistryForFinalProject.Models.ViewModels.RegistryRepositoryViewModel
@{
    ViewData["Title"] = "Registry Repository";
}


<h1 class="ml11">
    <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Your Registries</span>
    </span>
</h1>
<br />
<br />

<form asp-controller="Profile" asp-action="RegistryRepository" formaction="get">
    <div class="p-3 mb-2 bg-secondary text-white"><h6>Baby baptism registries:</h6></div>

    @if (Model.Registry.RegistryType ==)
    { 
        <div class="container">
            <div class="row">
                @for (int i = 0; i < Model.Registries.Count; i++)
                {
                    <div class="col-sm-6 align-self-center col-md-3 mb-3 ShowMore" style="width: 18rem;">
                        <div class="card" style="height: 20rem;">
                            <img src="http://res.cloudinary.com/teodorascloud/image/upload/bi8xo1acchgl6llox9ml.jpg" class="card-img-top img-thumbnail" alt="baby">                            <div class="row">
                                <div class="card-body">
                                    <h5 class="card-title">@Model.Registries[i].Name</h5>
                                    <p class="card-text">
                                        @Model.Registries[i].Location
                                    </p>
                                    <h6 class="card-title">$@Model.Registries[i].DateOfEvent</h6>
                                </div>
                            </div>
                        </div>
                        <div>
                            <a href="PreviewItem/@Model.Registries[i].Id" class="btn btn-block btn-warning">Select</a>
                        </div>
                    </div>
                }
                <div class="container">
                    <div class="row">
                        <div class="col-5"></div>
                        <div class="col-2"><button class="btn btn-secondary btn-lg btn-block" onclick="ViewMore()" id="ViewMoreButton">View more</button></div>
                        <div class="col-5"></div>
                    </div>
                </div>


            </div>
        </div>
    }
    <div class="p-3 mb-2 bg-secondary text-white"><h6>Wedding registries:</h6></div>



    <div class="p-3 mb-2 bg-secondary text-white"><h6>Birthday registries:</h6></div>


</form>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Categories">Buy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Sell" asp-action="Sell">Sell</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile" data-toggle="tooltip" data-placement="top" title="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="ShoppingCart" data-toggle="tooltip" data-placement="top" title="Shopping Cart"><i class="fas fa-shopping-cart fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut" data-toggle="tooltip" data-placement="top" title="Sign out"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="~/js/pageTitle.js"></script>*@