@{
    ViewData["Title"] = "Registry";
}

<div class="textJs">
    <h1 class="ml3">Select your preference</h1>
</div>

<form asp-controller="Registry">
    <br />
    <br />
    <br />

    <div id="registry" class="row">
        <div class="card col-md" style="width: 30rem;">
            <img src="http://res.cloudinary.com/teodorascloud/image/upload/mxsxgqdndnsvzyiknrnd.jpg" class="card-img-top img-thumbnail" alt="baby">
            <div class="card-body">
                <p class="card-text font-italic font-weight-bold text-center">Baby christening registry</p>
                <div class="text-center"><a href="BabyRegistry" class="btn btn-warning"><span class="text-center">Go!</span></a></div>
            </div>
        </div>

        <div class="card col-md" style="width: 30rem;">
            <img src="http://res.cloudinary.com/teodorascloud/image/upload/jvfe1ixxfvoiq0465trp.jpg" class="card-img-top img-thumbnail" alt="wedding">
            <div class="card-body">
                <p class="card-text font-italic font-weight-bold text-center">Wedding registry</p>
                <div class="text-center"><a href="WeddingRegistry" class="btn btn-warning"><span class="text-center">Go!</span></a></div>
            </div>
        </div>

        <div class="card col-md" style="width: 30rem;">
            <img src="http://res.cloudinary.com/teodorascloud/image/upload/nuyjcb8nqdskfwtbdubl.jpg" class="card-img-top img-thumbnail" alt="bday">
            <div class="card-body">
                <p class="card-text font-italic font-weight-bold text-center">Birthday registry</p>
                <div class="text-center"><a href="BirthdayRegistry" class="btn btn-warning"><span class="text-center">Go!</span></a></div>
            </div>
        </div>
    </div>
</form>



@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="~/js/pageTitle.js"></script>
