@using CloudinaryDotNet;
@model RegistryForFinalProject.Models.ViewModels.ViewRegistryViewModel

@{
    ViewData["Title"] = "Buy";
}

<form asp-controller="Registry" asp-action="ViewRegistry" formmethod="post">

    <div class="container">
        <div class="row">

            @for (int i = 0; i < Model.Items.Count; i++)
            {
                <div class="col-sm-6 align-self-center col-md-3 mb-3" style="width: 18rem;">
                    <div class="card" style="height: 41rem;">
                        <img src="@string.Concat(string.Concat("http://res.cloudinary.com/teodorascloud/image/upload/",$"{Model.Items[i].Image1}"),".jpg")" width="200" height="250" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Model.Items[i].Title</h5>
                            <p class="card-text">
                                @Model.Items[i].Description
                            </p>
                            <h6 class="card-title">$@Model.Items[i].Price</h6>
                            <a href="PreviewItem" class="btn btn-block btn-warning">Check Out</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</form>
@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Categories">Buy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Sell" asp-action="Sell">Sell</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="ShoppingCart"><i class="fas fa-shopping-cart fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
