@model RegistryForFinalProject.Models.ViewModels.WeddingRegistryViewModel
@{
    ViewData["Title"] = "Wedding Registry";
}

<h1>Wedding Registry</h1>
<hr />
<h3>Please fill out the form ...</h3>
<form asp-controller="Registry">

    <label action="/Registry/WeddingRegistry" asp-for="BrideName">Name of Bride: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.BrideName)</span>
    <input asp-for="BrideName" class="form-control" />

    <label action="/Registry/WeddingRegistry" asp-for="GroomName">Name of Groom: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.GroomName)</span>
    <input asp-for="BrideName" class="form-control" />

    <label action="/Registry/WeddingRegistry" asp-for="CityOfEvent">Location of Event: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.CityOfEvent)</span>
    <input asp-for="CityOfEvent" class="form-control" />

    <label action="/Registry/WeddingRegistry" asp-for="DateOfEvent">Date of Event: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.DateOfEvent)</span>
    <input asp-for="DateOfEvent" class="form-control" />
    <br />

    <button type="submit" class="btn-primary" id="RegistryButton">Create Registry</button>
    <br />
    <h4>or</h4>
    <br />
    <button type="submit" class="btn-primary" id="RegistryButton">Find Registry</button>

</form>
