@model RegistryForFinalProject.Models.ViewModels.WeddingRegistryViewModel
@{
    ViewData["Title"] = "Wedding Registry";
}

<h1>Wedding Registry</h1>
<hr />
<h3 class="font-italic font-weight-bold">Please fill out the form ...</h3>
<form asp-controller="Registry">
    <br />
    <label action="/Registry/WeddingRegistry" asp-for="BrideName"><span class="text-danger">*</span> Name of Bride: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.BrideName)</span>
    <input asp-for="BrideName" class="form-control inputSizeTwenty" />
    <br />
    <label action="/Registry/WeddingRegistry" asp-for="GroomName"><span class="text-danger">*</span> Name of Groom: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.GroomName)</span>
    <input asp-for="BrideName" class="form-control inputSizeTwenty" />
    <br />
    <label action="/Registry/WeddingRegistry" asp-for="CityOfEvent"><span class="text-danger">*</span> Location of Event: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.CityOfEvent)</span>
    <input asp-for="CityOfEvent" class="form-control inputSizeTwenty" />
    <br />
    <label action="/Registry/WeddingRegistry" asp-for="DateOfEvent"><span class="text-danger">*</span> Date of Event: </label>
    <span class="text-danger">@Html.ValidationMessageFor(m => m.DateOfEvent)</span>
    <input asp-for="DateOfEvent" class="form-control inputSizeTwenty" />
    <br />
    <br />
    <button type="submit" class="btn btn-warning btn-lg" id="RegistryButton">Create Registry</button>
    <br />
    <br />
    <h4>or</h4>
    <br />
    <button type="submit" class="btn btn-warning btn-lg" id="RegistryButton">Find Registry</button>


</form>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Profile" asp-action="Profile"> My Profile</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogOut">Log out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="LogIn">Log in</a>
        </li>
        <li>
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}