@model RegistryForFinalProject.Models.ViewModels.WeddingRegistryViewModel
@{
    ViewData["Title"] = "Wedding Registry";
}

<h1 class="ml11">
    <span class="text-wrapper">
        <span class="line line1"></span>
        <span class="letters">Wedding Registry</span>
    </span>
</h1>
<hr />
<h3 class="font-italic text-secondary font-weight-bold">Please fill out the form ...</h3>
<form asp-controller="Registry">
    <br />
    <label action="/Registry/WeddingRegistry" asp-for="BrideName"><span class="text-danger">*</span> Name of Bride: </label>
    <span class="text-danger" asp-validation-for="BrideName"></span>
    <input asp-for="BrideName" class="form-control input-lg col-4" />
    <br />
    <label action="/Registry/WeddingRegistry" asp-for="GroomName"><span class="text-danger">*</span> Name of Groom: </label>
    <span class="text-danger" asp-validation-for="GroomName"></span>
    <input asp-for="BrideName" class="form-control input-lg col-4" />
    <br />
    <label action="/Registry/WeddingRegistry" asp-for="CityOfEvent"><span class="text-danger">*</span> Location of Event: </label>
    <span class="text-danger" asp-validation-for="CityOfEvent"></span>
    <input asp-for="CityOfEvent" class="form-control input-lg col-4" />
    <br />
    <label action="/Registry/WeddingRegistry" asp-for="DateOfEvent"><span class="text-danger">*</span> Date of Event: </label>
    <span class="text-danger" asp-validation-for="DateOfEvent"></span>
    <input asp-for="DateOfEvent" class="form-control input-lg col-4" />
    <br />
    <br />
    @* <button type="submit" class="btn btn-warning btn-lg" id="RegistryButton">Create Registry</button>*@
    <a class="btn btn-warning btn-lg" data-toggle="modal" data-target=".bootstrapmodal">Create Registry</a>
    <div class="modal fade bootstrapmodal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create your registry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Do you confirm starting a registry?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-warning">Yes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <h4>or</h4>
    <br />
    <button type="submit" class="btn btn-warning btn-lg" id="RegistryButton">Find Registry</button>
    <br />


</form>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Categories">Buy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Sell" asp-action="Sell">Sell</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut">Sign out</a>
        </li>

    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="~/js/pageTitle.js"></script>