@{
    ViewData["Title"] = "Registry";
}
<h1>@ViewData["Title"]</h1>

<form asp-controller="Home">
    <br />
    <br />
    <br />

    <div id="registry">
        @*<button type="submit" class="btn-primary RegistryTypes" id="RegistryButton">Baby christening registry</button>
        <button type="submit" class="btn-primary RegistryTypes" id="RegistryButton">Wedding registry</button>*@
        <div class="bigButton">
            @*<input type="button" style="width:200px;" class="btn-primary RegistryTypes" value="Baby christening registry" />*@
            <button class="btn-primary RegistryTypes">Baby christening registry</button>
        </div>
        <div class="bigButton">
            @*<input type="button" style="width:200px;" class="btn-primary RegistryTypes" value="Wedding registry" />*@
            <button class="btn-primary RegistryTypes">Wedding registry</button>
        </div>


    </div>

</form>
<script src="~/js/site.js"></script>
