@{
    ViewData["Title"] = "Privacy Policy";
}

<form asp-controller="Footer">
    <h1 class="ml11">
        <span class="text-wrapper">
            <span class="line line1"></span>
            <span class="letters">Privacy Policy</span>
        </span>
    </h1>
</form>
<hr />
<br />
<p>This Privacy Policy will help you better understand how we collect, use, and share your personal information. If we change our privacy practices, we may update this privacy policy.</p>
<br />
<p>Three main values guide us as we develop our products and services. These values should help you better understand how we think about your information and privacy.</p>
<br />
<ul class="footerPrivacy">
    <li>
        <div class="row">
            <div class="col-sm-1"><i class="fas fa-trophy fa-3x warning"></i></div>
            <div class="col-sm-11">
                <h5>Your information belongs to you</h5>
                <p>We carefully analyze what types of information we need to provide our services, and we try to limit the information we collect to only what we really need. Where possible, we delete or anonymize this information when we no longer need it. When building and improving our products, our engineers work closely with our privacy and security teams to build with privacy in mind. In all of this work our guiding principle is that your information belongs to you, and we aim to only use your information to your benefit.</p>
            </div>
        </div>
    </li>

    <li>
        <div class="row">
            <div class="col-sm-1"><i class="fas fa-tools fa-3x warning"></i></div>
            <div class="col-sm-11">
                <h5>We protect your information from others</h5>
                <p>If a third party requests your personal information, we will refuse to share it unless you give us permission or we are legally required. When we are legally required to share your personal information, we will tell you in advance, unless we are legally forbidden.</p>
            </div>
        </div>
    </li>

    <li>
        <div class="row">
            <div class="col-sm-1"><i class="fas fa-shield-alt fa-3x warning"></i></div>
            <div class="col-sm-11">
                <h5>We help merchants and partners meet their privacy obligations</h5>
                <p>To do this, we try to build our products and services so they can easily be used in a privacy-friendly way. We also provide detailed FAQs, documentation and whitepapers covering the most important privacy topics, and respond to privacy-related questions we receive.</p>
            </div>
        </div>
    </li>
</ul>
<br />
<h3>Why we process your information</h3>
<br />
<p>We generally process your information when we need to do so to fulfill a contractual obligation (for example, to process your subscription payments to use the Shopify platform), or where we or someone we work with needs to use your personal information for a reason related to their business (for example, to provide you with a service).</p>
<br />
<ol>
    <li>preventing risk and fraud</li>
    <li>answering questions or providing other types of support</li>
    <li>helping merchants find and use apps through our app store</li>
    <li>providing and improving our products and services</li>
    <li>providing reporting and analytics</li>
    <li>testing out features or additional services</li>
    <li>assisting with marketing, advertising, or other communications</li>
</ol>
<br />
<h3>Your rights over your information</h3>
<br />
<p>We believe you should be able to access and control your personal information no matter where you live. Depending on how you use Getme, you may have the right to request access to, correct, amend, delete, port to another service provider, restrict, or object to certain uses of your personal information (for example, direct marketing). We will not charge you more or provide you with a different level of service if you exercise any of these rights.</p>
<br />
<p>Please note that if you send us a request relating to your personal information, we have to make sure that it is you before we can respond. In order to do so, we may ask to see documentation verifying your identity, which we will discard after verification.</p>
<br />
<p>If you are not happy with our response to a request, you can contact us to resolve the issue. You also have the right to contact your local data protection or privacy authority at any time.</p>
<br />
<h3>How we protect your information</h3>
<br />
<p>Our teams work tirelessly to protect your information, and to ensure the security and integrity of our platform. We also have independent auditors assess the security of our data storage and systems that process financial information. However, we all know that no method of transmission over the Internet, and method of electronic storage, can be 100% secure. This means we cannot guarantee the absolute security of your personal information.</p>

@section MainNavigation {

    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Registry" asp-action="Registry">Registry</a>
        </li>
        @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUserIsAdmin") == "true")
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Admin" asp-controller="Categories" asp-action="Categories">Buy</a>
            </li>

        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="" asp-controller="Categories" asp-action="Categories">Buy</a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-light" asp-area="" asp-controller="Sell" asp-action="Sell">Sell</a>
        </li>
    }
}

@section AccountNavigation {
    @if (HttpContextAccessor.HttpContext.Session.GetString("CurrentUser") != null)
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Profile" asp-action="Profile" data-toggle="tooltip" data-placement="top" title="Profile"><i class="fas fa-user-circle fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="ShoppingCart" asp-action="ShoppingCart" data-toggle="tooltip" data-placement="top" title="Shopping Cart"><i class="fas fa-shopping-cart fa-2x warning"></i></a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogOut" data-toggle="tooltip" data-placement="top" title="Sign out"><i class="fas fa-sign-out-alt fa-2x"></i></a>
        </li>
    }
    else
    {
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="LogIn">Sign in</a>
        </li>
        <li>
            <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
        </li>
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
<script src="~/js/pageTitle.js"></script>
